$paragraph-color: black;
$name-color: #F2F4F5;
$about-title-color: #5169BD;
$button-bg-color: #EEAF98;
$button-text-color: #A9502F;
$section1-bg-color: #424B6D;
$section2-bg-color: #F2F4F5;
$section3-bg-color: #b5bee2;
$section4-bg-color: #F2F4F5;
$section5-bg-color: #5169BD;
$section6-bg-color: #424B6D;
$menu-link-color: #F2F4F5;